$primary-color: #ff0000; // Red
$background-color: #000000; // Black
$text-color: #ffffff; // White

body {
    font-family: 'Arial', sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    h1 {
        font-size: 1.5rem;
    }
}